extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Piyush Singla

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |  I, Piyush Singla am an Indian National currently pursuing a diploma in Computer Science. I plan to settle down in canada and be able
            |  to contribute in this vast and ever evolving field. I believe that my experience in working in leadership roles for a startup and a keen eye 
            |  on consumer requirements would be helpful in shaping my career ahead.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Javascript
          li Node.js
          li Express
          li React
          li Java
          li Php 
          li CCNA 
          li MCSA
          li python
          li Android Developer 
          li Springboot
        h6 Contact Info

        //- Add your own contact info
        ul
          li 9888-389-706
          li piyushsingla856@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/piyush-singla-6a3813195/') LinkedIn
        a.button.expanded(href='https://github.com/Piyush1077') GitHub
        a.button.expanded(href='https://mobile.twitter.com/Piyush_Singla_7') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  